:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
}

body{
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
}
.logo{
  width: 100px;
  margin: auto;
  margin-bottom: 50px;
}

.buttons {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-bottom: 50px;
}

button {
  width: 60px;
  height: 60px;
  background-color:var(--color-black);
  border: none;
  transition: 300ms all ease-in;
  border-radius: 20px;
}
button:hover{
  border: 2px solid black;
  transform: scale(1.1);
}
.buttons_img, .sale_img{
  width: 40px;
  height: 40px;
}
.yellow-color{
  background-color: var(--color-yellow);
}
.blue-color{
  background-color: var(--color-blue);
}
.pink-color{
  background-color: var(--color-pink);
}
.shopList{
  margin:auto;
  width: 60%;
  background-color: var(--color-black);
}
.sale{
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 60px;
}
.info {
  margin-left: 20px;
}